body {
    background: url("/images/hikingpakistan.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;
      color: black;
}

html {
	  position: relative;
	  min-height: 100%;
}

.well{

}

.footer {
  bottom: 0;
  margin-top: 20px;
  padding-top: 20px;
  position: fixed;
 }

 .nav {
   background-color: #c1dfff; /*#b6e5ac*/

 }

.nav a {
  color: #094ab5;
}

.nav li a:hover {
  background-color: #d9e8f9;
}

.nav li.active a{
  color: #094ab5;
}


#trail-form {
  padding-top: 50px;
}

#trail-add {
  padding-right: 5px;
}

#homepage-well {
  text-align: center;
  margin-top: 15%;
  margin-right: 20%;
  margin-left: 20%;
  padding-top: 20px;
  padding-bottom: 20px;
  opacity: 0.8;
}