{{#partial "navtabs"}}
    <div class="navlogo">
        <ul class="nav nav-tabs">
            <li role="presentation" class="active"><a href="/">Home</a></li>
            <li role="presentation"><a href="/trails/new">Find a trail</a></li>
            <li role="presentation"><a href="/trails">See all trails</a></li>
            <img src="/images/mthood-logo-med-cropped.png" alt="Mountain logo">
        </ul>
    </div>
{{/partial}}

{{#partial "content"}}

    <div id="homepage-well" class="well">

        <h4>All my hikes, all my notes, <br>right where I can find them!</h4>

        <h4><a href="/trails/new">Add/find a trail to hike</a></h4>

        <h4><a href="/users/new">Create a new user</a></h4>

    </div>

{{/partial}}

{{>layout.hbs}}