{{#block "header"}}
    <!DOCTYPE html>
    <html>
    <head>
        <title>Hiking Trail Journal</title>
        <link href="https://fonts.googleapis.com/css?family=Special+Elite" rel="stylesheet">
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
        <link rel='stylesheet' href='/css/main.css'>
    </head>
    <body>

{{/block}}

{{#block "navtabs"}}


{{/block}}

<div class="container">
    <!--begin main template-->

    <h1 class="special">My Hiking Journal</h1>

    <div class="col-md-12">
        {{#block "content"}}

        {{/block}}

    </div>

    <!--end main template-->
{{#block "footer"}}
        <div class="footer">
            <p>Photo by Abdul Rafay Shaikh on Unsplash</p>
        </div>
    </div>
    </body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    </html>
{{/block}}

