{{#partial "navtabs"}}
    <div class="navlogo">
        <ul class="nav nav-tabs">
            <li role="presentation"><a href="/">Home</a></li>
            <li role="presentation"><a href="/trails/new">Find a trail</a></li>
            <li role="presentation"><a href="/trails">See all trails</a></li>
            <img src="/images/mthood-logo-med-cropped.png" alt="Mountain logo">
        </ul>
    </div>

{{/partial}}

{{#partial "content"}}

<h3>Success!</h3>
    <p>Your user ID is: {{id}}</p>



{{/partial}}

{{>layout.hbs}}